.azeret-mono-normal {
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
}

/* main styles */

main {
    max-width: 1140px;
    margin: 0 auto;
}

/* nav styles */

nav {
    max-height: 131px;
    display: flex;
    justify-content: space-between;
    margin: 38px 150px;
}

.nav-title {
    font-weight: 800px;
    font-size: 28px;
}

/* button styles */

.btn-type-a {
    font-size: 20px;
    font-weight: 600;
    padding: 17px 24px ;
    color: rgba(13, 19, 33, 1);
    background-color: white;
    border-radius: 8px;
    margin-bottom: 36px;
}

.btn-type-b {
    font-size: 20px;
    font-weight: 600;
    padding: 21px 24px ;
    color: white;
    background-color: rgba(13, 19, 33, 1);
    border-radius: 8px;
    margin-top: 32px;
}

.btn-type-c {
    font-size: 20px;
    font-weight: 600;
    padding: 12px 20px;
    color: rgba(13, 19, 33, 0.7);
    background-color: white;
    border-radius: 1px;
    border-width: 1px;
    border-color: rgba(13, 19, 33, 1);
}

/* header */

.banner {
    height: 652px;
    background-image: url("../assets/Hero-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.first-pic {
    margin-top: 26px;
    margin-bottom: 32px;
}

.banner-title {
    font-size: 48px;
    font-weight: 800;
    color: rgba(13, 19, 33, 1);
    margin: 0px 221px;
}
.banner-description {
    margin-top: 24px;
    margin-left: 294px;
    margin-right: 294px;
    font-size: 16px;
    font-weight: normal;
    color: rgba(13, 19, 33, 1);
}
.banner-content {
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* why-web-dev */

.why-web-dev {
    width: 1140px;
    background-color: rgba(250,250,251,255);
    padding-top: 80px;
    border-radius: 16px;
    margin-top: 74px;
}

.web-dev-content {
    width: 852px;
    margin-left: 144px;
    margin-right: 144px;
    margin-bottom: 48px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.web-content-title {
    font-size: 32px;
    font-weight: 800;
    color: rgba(13, 19, 33, 0.7)
}

.web-content-description{
    font-size: 16px;
    color: rgba(13, 19, 33, 1);
    margin-bottom: 48px;
}

.card {
    background: linear-gradient(to right, rgb(255, 255, 255, 1), rgba(255, 255, 255, 0));
    padding: 48px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: left;
    border-radius: 16px;
    margin-bottom: 32px;
}

.card1, .card3{
    height: 219px;
    width: 477px;
    margin-right: 132px;
}

.card2 {
    margin-left: 32px;
}


.card-title {
    color: rgba(13, 19, 33, 0.7);
    font-weight: 700;
    font-size: 24px;
}

.card-description {
    font-size: 16px;
}

